.search {
  border: none;
  border-radius: 4px;
  background: var(--gray10);
  padding: 0.625rem;
  padding-inline-start: 2rem;
  background-image: url('../icons/Icon=users.svg');
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
  background-size: 1rem;
}

.search::placeholder {
  color: var(--gray30);
  font: var(--body1-regular);
}

.myCalendars summary {
  font: var(--body1-medium);
  color: var(--gray30);
  margin-block-end: 0.625rem;
  padding-inline-end: 6rem;

  list-style: none;
  cursor: pointer;

  background-image: url('../icons/Icon=chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
}

.myCalendars[open] summary {
  background-image: url('../icons/Icon=chevron-up.svg');
}

.myCalendars-check {
  margin-block-end: 0.75rem;
}

.myCalendars-check input {
  display: none;
}

.myCalendars-check label {
  padding-inline-start: 1.5rem;
  background-image: url('../icons/Icon=check.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem;
  user-select: none;
}

.myCalendars-check input:checked + label{
  background-image: url('../icons/Icon=check-square.svg');
}
